@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

main {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  background-color: orange;
}

.input-text {
  width: 200px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 40px;
  border-style: hidden;
  background-color: white;
  border-radius: 5px;
  margin: 1rem;
  border: 1px solid lightgray;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  padding: 10px;
}

.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 150px;
  height: 50px;
  margin-left: 45%;
  font-family: "Raleway", sans-serif;
  margin-top: 2rem;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

.searchbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-items: center;

  .input-text {
    width: 80%;
  }
}

.radio-buttons {
  width: 20%;
  display: flex;
}
.input-label {
  display: flex;
  align-items: center;
}
